.Nav-bar {
    width: 90%;
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.Nav-bar a {
    text-decoration: none;
    color: black
}

.logo {
    font-weight: 800;
    font-size: 40px;
    color: #1E1B1B;
    flex: 30%;
}
.nav {
    flex: 70%;
}
.hide {
    display: none;
}

#nav-list {
    display: flex;
    list-style: none;
}

#nav-list li{
    padding: 20px;
    font-weight: 400;
    font-size: 16px;
    color: white;
}
.m-hide {
    display: none;
}




@media screen and (max-width:950px) {
    .m-hide {
        display: block;
        background: #1D2130;
        color:white;
    }
    #nav-list{
        padding: 10px;
        font-weight: 400;
        font-size: 16px;
        color: #1D2130;
        display: none;
    }
    button {
        display: none;
    }
}


@media screen and (max-width: 870px) {
    .m-hide {
        display: none;
    }
    .Nav-bar li a {
        text-decoration: none;
        color: black;
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .Nav-bar a {
        text-decoration: none;
        color: white
    }
    .Nav-bar {
        padding: 10px 0;
        display: flex;
        justify-content: flex-start;
        }

    .nav-list {
        display: block;
    }
    .open-icon, .close-icon {
        display: inline-block;
        position: absolute;
        top: 30px;
        left: 85vw;
        cursor: pointer;
    }
    .mobile-nav {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #1D2130;
        opacity: 0.95;
        width: 80vw;
        height: 100vh;
    }
    .mobile-nav li {
        color: white;
    }
    .openList {
        display: block;
        padding: 20px 0;
        list-style: none;
    }
    .openList li {
        display: block;
        padding: 5px 30px;
        list-style: none;
        background-color: #1E1B1B;
        margin-bottom: 10px;
        color: white;
    }
    .openList li a {
        color: white;
        padding: 20px 30px;
    }
    .openList li a:hover {
        background-color: #1D2130;
        color: white;
    }

}