<div>
    <NavBar/> 

    <h1 className={contactStyle.thead}>
        Get in with us
    </h1>

    <div className={contactStyle.Container}>
        <h2>Drop us a message</h2>
        <p>We will get to you as soon as possibe</p>
        
        <span>
            <div className={contactStyle.mainform}>
                <div className={contactStyle.mainCon}>
                    <div className={contactStyle.inputGroup}>
                        <div>
                        <input type='text' value='' placeholder='Full name' />
                        </div>
    
                        <div>
                        <input type='text' value='' placeholder='Company name' />
                        </div>
    
                    <div>
    
                    <div>
                    <input type="email" value='' placeholder="work email"  />
                    </div>
    
                    <div>
                    <input type="text" value='' placeholder="Subject"  />
                    </div>
    
                    <div>
                    <textarea name="" id="" cols="30" rows="10" placeholder='Message'></textarea>
                    </div>
                    
                    <div>
                    <input type="submit" value='Submit'  />
                    </div>
                    
                </div>
    
                <div className={contactStyle.mainCon2}>
                    <>
                        <div>
                            <img src={cIcon1} alt='' />
                        </div>
                        <div>
                            <h3>+ 1800 145 276</h3>
                            <p>Free Support</p>
                        </div>
                    </>
                    <>
                        <div>
                            <img src={cIcon2} alt='' />
                        </div>
                        <div>
                            <h3>finsweet@gmail.com</h3>
                            <p>Help Email support</p>
                        </div>
                    </>
                    <>
                        <div>
                            <img src={cIcon3} alt='' />
                        </div>
                        <div>
                            <h3>sales@finsweet.com</h3>
                            <p>Sales Enquiry</p>
                        </div>
                    </>
                </div>
                
            </div>
        </span>

    </div>


</div>